/* Google Fonts Link */
/* font-family: 'Open Sans Condensed', sans-serif; */


/* General Styling */

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.bold {
    font-weight: bold;
}

img {
    max-width:100%;
    height:auto;
}

h3 {
    color: #663399;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* Header Styling */

header {
    display: flex;
    justify-content: space-between;
    /* background: #FF9934; */
    background: linear-gradient(45deg, rgb(245, 153, 62), #FF9934);
    font-size: 2rem;
    height: 20vh;
    align-items: center;
    width: 100%;
}

.flex-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header img {
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.8;
}

ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
    color: #663399;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
}

li {
    margin: 5px;
    padding: 5px;

}

li a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    padding-bottom: 2px;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.2s;
    
}

.contact-button {
    background: #663399;
    color: #fff;
    border-radius: 10px;
    padding-bottom: 10px;
}

header li a:hover:not(.contact-button) {
    border-bottom: 3px solid #663399;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}

.contact-button:hover {
    background: #8c48cf;
    text-decoration: none;
    color: #fff;
}

/* Hamburger Menu */


.fa-bars {
    color: #663399;
    margin-right: 50px;
    font-size: 4rem;
    display: none;
    z-index: 1;
    cursor: pointer;
}

.hamburger {
    display: none;
}


.hamburger-list {
    flex-direction: row;
    justify-content: center;
    font-size: 1.25rem;
    background: rgb(0,0,0,0.2);
    padding: 5px;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
    background: #663399;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0;
    text-align: center;
}

.hamburger-list a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.hamburger-list li {
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    border-bottom: 1px solid transparent;
    text-align: center;
}

.hamburger-list li:hover {
    border-bottom: 1px solid white;
    border-radius: 5px;
    color: #fff;

}


/* Landing Styling */


.landing{
    height: calc(100vh - 20vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./assets/large-kitchen.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(102, 51, 103, 0.7);
    opacity: 0.9;
    padding: 50px;
    width: 100%;
    height: 100%;
}


.background h1 {
    font-size: 5rem;  
    margin: 10px;
}

.background h2 {
    font-size: 6rem;
    margin: 0 0 20px 0;
}

.background a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    background: #663399;
    border-radius: 10px;
    
}

/* Sectional Stylings */

section:not(.landing):not(.consult) {
    padding-bottom: 20px;
    margin: 0 50px 0 50px;
    border-bottom: 1px solid rgb(43, 42, 42);
    align-items: center;
    font-size: 1.5rem;
}


/* About Section Styling */

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.about h3 {
    color: #663399;
    font-size: 4rem;

}

.about h4 {
    font-size: 2.5rem;
    margin-top: 0;
    text-decoration: underline;
}




/* Mailing List Section Styling */

.mailing {
    display: flex;
    flex-direction: column;
}

.flex-container-mailing {
    display: flex;
    flex-direction:column;
    align-items: center;
}


.mailing h3 {
    text-align: center;
    font-size: 4rem;
}


.opt-in-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opt-in {
    width: 50%;
    text-align: center;
}


.opt-in img {
    width: 40%;
    height: 40%;
}

.mailing input {
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 10px;
}

.mailing button {
    background: #663399;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.mailing button:hover {
    background: #8c48cf;
}

/* Gallery Styling */

.gallery {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery h3 {
    font-size: 4rem;
}

.gallery img {
    width: 100%;
    height: auto;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}

.job-example {
    position: relative;
}

.job-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(102, 51, 103, 0.4);

    /* typographical style */
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    
    /* position the text centrally*/
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}

.job-example:hover .job-title {
    opacity: 1;
}

.gallery a {
    color: white;
}

.job-image {
    line-height: 0;
}

.job-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
}

.job-example:hover .job-image img {
    filter: blur(2px);
}


/* Testimonials Styling */

.testimonials {
    text-align: center;
}

.testimonials h3 {
    font-size: 4rem;
}

.carousel-indicators {
    margin-top: 5px;
}

.carousel-indicators li{
    background: #663399;
    border: 0;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #663399;
}

/* Expectations Styling */

.expectations {
    text-align: center;
    
}

.expectations h3 {
    font-size: 4rem;
}

.expectations ul {
    justify-content: center;
    align-items: center;
    color: #FF9934;
    background: #663399;
    padding: 10px;
    border-radius:10px;
    margin-right: 0;
    font-size: 2rem;
    margin-top: 20px;
}

.expectations ul li {
    padding: 10px;
    background: #8c48cf;
    border-radius: 5px;
}


/* Footer Styling */

footer {
    background: #FF9934;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px;
    color: #663399;
    text-align: center;
}

.flex-container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .background-footer {
    margin-top: 10px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0.9;
    padding: 50px;
    border-radius: 10px;
    width: 50%;
}

.footer-contact-info {
    text-transform: capitalize;
    line-height: 1;
}

.call-to-action {
    font-size: 2rem;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

footer .background-footer a {
    background: none;
    color: #663399;
    font-size: 4rem;
    cursor: pointer;
    margin: 5px;

}

footer i {
    font-size: 4rem;
    cursor: pointer;
    margin: 5px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

footer i:hover {
    color: #8c48cf;
    font-size: 4.5rem;
    margin: 0 5px 0 5px;
}

footer img {
    margin: 10px;
    border-radius: 10px;
}

.social {
    margin-bottom: 5px;
}

.tagline {
    border-top: 1px solid black;
    margin-bottom: 0;
    margin-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    font-size: 2rem;
}

/* Media Queries */

@media only screen and (max-width: 1135px) {
    header {
        justify-content: space-between;
    }

    header nav {
        display: none;
    }

    .fa-bars {
        display: block;
    }

}

@media only screen and (max-width: 874px) {
    .expectations ul {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 716px) {
    .landing h1, 
    .landing h2 {
        font-size: 4rem;
    }

    .expectations ul {
        font-size: 2rem;
        flex-direction: column;
    }

    .expectations li {
        width: 200px;
    }

    footer .background-footer {
        width: 90%;
    }
}







